@media(max-width:2500px) and (min-width:1400px) {
    .contaact{
        
        width: 60%;
       
    }
}

@media(max-width:767px){
    .nav-item {
        padding: 0;
        margin-bottom: 5px;
    }

    .navbar-light .navbar-nav .nav-link{
        display: inline-block;
    }

    .navbar-collapse{
        text-align: center;
    }

    .navbar-nav{
        text-align: center;
        background: #20202082;
        border-radius: 20px;
        display: inline-block;
        padding: 20px 100px;
        margin-top: 15px;
    }

    .banner-left {
        
        text-align: center;
    }

    .single-card {
        margin-bottom: 30px;
    }

    .contact_section {
        padding-bottom: 400px;
    }
    .button_section {
        text-align: center;
    }

    
    .pricing_plan {
        justify-content: center;
    }
    .text h3 {
        text-align: center;
    }


}

@media(max-width:575px){
    

    

    .banner-left h1 {
        font-size: 35px;    
    }
    .banner-left p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .btn-download, .btn-feature {
        padding: 8px 20px;
    }

    .banner-right img {
        width: 250px;
        margin-top: 30px;
    }
    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        height: 75vh;
        
    }

    .button_section {
        text-align: center;
       
    }

    .theme_section p {
        font-size: 25px;
        
    }

    

    .contaact{
        left: 53%;
      }

    .contact_section {
        
        padding-bottom: 380px;
    }

    .feature {
        margin-top: 30px;
    }
}



@media(max-width:414px){
    .banner-left {
        height: 50vh;
    }

    .banner-right img {
        
        margin-top: 75px;
    }

    .contact_section form {
        padding: 40px 20px;
    }
}



@media(max-width:393px){
    .btn-download-mr{
        margin-top: 15px;
    }


}


@media(max-width:320px){
    .banner-left {
        height: 100vh;
    }

    .btn-feature{
        margin-left: 5px;
    }

    .btn-download, .btn-feature{
        padding: 8px, 15px;
        font-size: 13px;
    }
    
}

